<%- include('../partials/header.ejs')%>
<div class = "contents">
    <h3><%= user.firstName %>'s Events:</h3>
    <% if(events.length > 0) {%>
            <table>
                <tr>
                  <th>Event</th>
                  <th>Category</th>
                  <th>Actions</th>
                </tr>
                <%events.forEach(event => {%>
                    <tr>
                        <td><a href = '/events/<%= event.id%>'><p><%= event.title %></p></a></td>
                        <td><%= event.category %></td>
                        <td>
                        <form>
                            <button type = "submit" formmethod = "GET" formaction = "/events/<%= event.id %>/edit">Edit</button>
                            <button type = "submit" formmethod = "POST" formaction = "/events/<%= event.id %>?_method=DELETE">Delete</button>
                        </form>
                        </td>
                    </tr>
                <%});%>
            </table>
    <%} else {%>
        <p>You have not created any events</p>
    <%}%>

    <h3><%= user.firstName %>'s RSVP's:</h3>
    <table>
        <tr>
            <th>Event</th>
            <th>Category</th>
            <th>Going?</th>
        </tr>
        <tr>
            <td>[TTILE]</td>
            <td>[CATEGORY]</td>
            <td>[STATUS]</td>
        </tr>
    </table>

</div>
<%- include('../partials/footer.ejs')%>