<%- include('../partials/header.ejs')%>
    <main>
        <div class = "contents">
            <h2>Edit Event</h2>
            <form method = "POST" action="/events/<%= event.id %>?_method=PUT">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" value="<%= event.title %>" class="formStyle">
                <br><br>
                <label for="host">Host:</label><br>
                <input type="text" id="host" name="host" value="<%= event.host %>" class="formStyle">
                <br><br>
                <label for="location">Location:</label><br>
                <input type="text" id="location" name="location" value="<%= event.location %>" class="formStyle">
                <br><br>
                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date" value="<%= event.date %>" class="formStyle">
                <br><br>
                <label for="time_start">Start Time:</label><br>
                <input type="time" id="time_start" name="time_start" value="<%= event.startTime %>" class="formStyle">
                <%= event.startTime = event.startTime.toString() %>
                <br><br>
                <label for="time_end">End Time:</label><br>
                <input type="time" id="time_end" name="time_end" value="<%= event.endTime %>" class="formStyle">
                <br><br>
                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" value="<%= event.description %>" class="formStyle">
                <br><br>
                <label for="category">Category:</label><br>
                <input type="text" id="category" name="category" value="<%= event.category %>" class="formStyle">
                <br><br>
                <button>Update Event</button>
            </form>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>
