<%- include('../partials/header.ejs')%>
    <main>
        <div class="contents">
            <h3>Upcoming <!--Group Play-->Events</h3>
            <ul>
                <% if(events.length) { %>
                    <% events.forEach(event => { %>
                        <li><a href = "/events/<%= event.id%>"><%= event.title %></a></li>
                    <% }); %>
                <% } else {%>
                    <p>There are no upcoming <!--Group Play-->events to display</p>
                <% } %>
            </ul>
            <!-- <h3>Upcoming eSports Livestreams</h3>
            <ul>
                <% if(events.length) { %>
                    <% events.forEach(event => { %>
                        <li><a href = "/events/<%= event.id%>"><%= event.title %></a></li>
                    <% }); %>
                <% } else {%>
                    <p>There are no upcoming Livestream events to display</p>
                <% } %>
            </ul> -->
        </div>
    </main>
<%- include('../partials/footer.ejs')%>
<!-- && (<%= events.category === 'stream'%>) -->